﻿@page "/ListRole"
@using Microsoft.Extensions.Logging
@using Domain
@using Infrastructure
@using BlazorApp2.Data
@using System.IO

@inject ObjectService<Role> RoleService

<BSForm Model="role" OnSubmit="@CreateRole">
    <BSFormGroup>
        <BSLabel For="name">Наименование роли</BSLabel>
        <BSInput Id="name" InputType="InputType.Text" PlaceHolder="" @bind-Value="role.Name"> </BSInput>
    </BSFormGroup>
    <BSFormGroup>
        <BSLabel For="desc">Описание</BSLabel>
        <BSInput Id="desc   " InputType="InputType.Text" PlaceHolder="" @bind-Value="role.Desc"> </BSInput>
    </BSFormGroup>

    <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Добавить</BSButton>

</BSForm>
    <table class="table">
        <thead>
            <tr>
                <th>Имя компании</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listRoles)
            {
                <tr>
                    <td>
                            @item.Name
                    </td>
                    <td>
                            <span class="oi oi-pencil" aria-hidden="true"></span>Edit
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" @onclick="() => Delete(item)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

@code {

    List<Role> listRoles = new List<Role>();

    protected override async Task OnInitializedAsync()
    {

        listRoles = await RoleService.GetListObjects();
    }


    Role role= new Role();

    protected async Task CreateRole()
    {
        await RoleService.Create(role);
        listRoles = await RoleService.GetListObjects();
        role = new Role();
    }

    protected async Task Delete(Role item)
    {
        await RoleService.Delete(item);
        listRoles = await RoleService.GetListObjects();
    }

}
