﻿@page "/DeleteCompany/{ID}"
@using Domain
@using BlazorApp2.Data
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject ObjectService<Company> objCompService
<h1>
    Delete Article "@company.Name ?
</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <button type="button" class="btn btn-danger" @onclick="() => Delete()">Delete</button>
                <button type="button" class="btn btn-primary" @onclick="() => cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code {
  [Parameter]
  public string ID { get; set; }

  Company company = new Company();

  protected override async Task OnInitializedAsync()
  {
      company = await Task.FromResult(objCompService.GetById(ID));
  }

  protected async Task Delete()
  {
      objCompService.Delete(company);
      navigationManager.NavigateTo("/ListCompany");
  }

  void cancel()
  {
      navigationManager.NavigateTo("/ListCompany");
  }
}