﻿@page "/ListCompany"
@using Microsoft.Extensions.Logging
@using Domain
@using Infrastructure
@using BlazorApp2.Data
@using System.IO
@using System.ComponentModel.DataAnnotations;

@inject ObjectService<Company> objCompService


<h3>Компании</h3>
<BSForm Model="company" OnValidSubmit="@CreateCompany">
    <BSFormGroup>
        <BSLabel For="exampleInputEmail1">Наименование компании</BSLabel>
        <BSInput Id="exampleInputEmail1" InputType="InputType.Text" PlaceHolder="Введите наименование компании" @bind-Value="company.Name">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> </BSInput>
    </BSFormGroup>
    <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Добавить</BSButton>
</BSForm>

<BSTable class="table">
    <thead>
        <tr>
            <th scope="col">Имя компании</th>
            <th scope="col">Дата создания</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listCompanys)
        {
            <tr>
                <td scope="row"> <a class="nav-link" href="MainCompany/@item.Id"> @item.Name </a> </td>
                <td>@item.CreateTime.ToShortDateString()</td>
                <td>
                    <button type="button" class="btn btn-danger" @onclick="() => Delete(item)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</BSTable>


@code {

    List<Company> listCompanys = new List<Company>();
    Company company = new Company();

    protected override async Task OnInitializedAsync()
    {

        listCompanys = await objCompService.GetListObjects();

    }


    protected async Task CreateCompany()
    {
        await objCompService.Create(company);
        listCompanys = await objCompService.GetListObjects();
        company = new Company();
    }

    async Task Delete(Company item)
    {
        await objCompService.Delete(item);
        listCompanys = await objCompService.GetListObjects();
    }
}
