﻿@page "/MainCompany/{ID}"
@using Domain
@using BlazorApp2.Data
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject ObjectService<Company> objCompService
@inject ObjectService<Category> CategoryService
@inject ObjectService<Product> ProductService

<h1>
    Компания "@company.Name
</h1>


<BSNavbar IsExpand="true" IsDark="false" Color="Color.Light">
    <BSNavbarBrand Href="javascript:void(0);">Navbar</BSNavbarBrand>
    <BSNavbarToggler @onclick="onclick">
        <BSCollapse isOpen="@IsOpen" IsNavbar="true" IsOpenChanged="OpenChanged">
            <BSNav IsList="true" Class="mr-auto" IsNavbar="true">
                <BSNavItem>
                    <BSNavLink IsActive="true" Href="javascript:void(0);">Home</BSNavLink>
                </BSNavItem>
                <BSNavItem>
                    <BSNavLink Href="javascript:void(0);">Link</BSNavLink>
                </BSNavItem>
                <BSNavItem>
                    <BSNavLink IsDisabled="true" Href="javascript:void(0);">Disabled</BSNavLink>
                </BSNavItem>
                <BSNavItem IsDropdown="true">
                    <BSDropdownToggle Color="Color.Light">Dropdown link</BSDropdownToggle>
                    <BSDropdownMenu>
                        <BSDropdownItem Href="javascript:void(0);">Action</BSDropdownItem>
                        <BSDropdownItem Href="javascript:void(0);">Another Action</BSDropdownItem>
                    </BSDropdownMenu>
                </BSNavItem>
                <BSNavItem IsDropdown="true" @bind-IsOpen="@IsOpen2" CloseOnFocusout="false">
                    <BSDropdownToggle @onclick="onclick2" Color="Color.Light">User Controlled</BSDropdownToggle>
                    <BSDropdownMenu @bind-IsOpen="@IsOpen2">
                        <BSDropdownItem Href="javascript:void(0);">Action</BSDropdownItem>
                        <BSDropdownItem Href="javascript:void(0);">Another Action</BSDropdownItem>
                    </BSDropdownMenu>
                </BSNavItem>
            </BSNav>
        </BSCollapse>
    </BSNavbarToggler>
</BSNavbar>
<br />
<div class="row">

    @if (listCategory == null)
    {
        <p><em>Loading...@CountLoadCategory</em></p>
    }
    else
    {
<BSCard CardType="CardType.Deck">
    @foreach (var item in listProduct)
    {

        <BSCard>
            <BSCard CardType="CardType.Image" VerticalAlignment="VerticalAlignment.Top" src="...256x180" alt="256x180" />
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">@item.Name</BSCard>
                <BSCard CardType="CardType.Subtitle">Card subtitle</BSCard>
                <BSCard CardType="CardType.Text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</BSCard>
                <BSCard CardType="CardType.Text"><small class="text-muted">Last updated 3 mins ago</small></BSCard>
            </BSCard>
        </BSCard>
    }
   
</BSCard>
    }
</div>

@code {
    [Parameter]
    public string ID { get; set; }

    Company company = new Company();
    List<Category> listCategory = new List<Category>();
    List<Product> listProduct = new List<Product>();

    string testString = "";
    int CountLoadCategory = 0;
    protected override async Task OnInitializedAsync()
    {
        company = await objCompService.GetById(ID);
        listProduct = ProductService.GetListObjects<Product>((Product p) => p.CreateCompany == company);

        //listCategory = await Task.FromResult(CategoryService.GetListObjects<Category>((Category x) => x.ParentCategory == null));
        //CountLoadCategory = listCategory.Count();
    }
    public void LoadChildCategory(Category category)
    {
        foreach (Category cat in CategoryService.GetListObjects<Category>((Category x) => x.ParentCategory == category))
        {
            if (!listCategory.Contains(cat))
                listCategory.Add(cat);
        }
        CountLoadCategory = listCategory.Count();
    }

    //navbar

    bool IsOpen { get; set; } = true;
    void onclick(MouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
        Console.WriteLine("Navbar Class->" + IsOpen.ToString());
    }
    void OpenChanged(bool e)
    {
        IsOpen = e;
        //Invoke(StateHasChanged);
        Console.WriteLine("OpenChanged->" + IsOpen.ToString());
    }

    bool IsOpen2 { get; set; } = true;
    void onclick2(MouseEventArgs e)
    {
        IsOpen2 = !IsOpen2;
        StateHasChanged();

    }
}