﻿<button class="btn btn-info" @onclick="UpdatePopupVisible">
    Login
</button>
<div class="target-container" @onclick="@UpdatePopupVisible"></div>



@code {
  bool PopupVisible { get; set; } = false;
  [Parameter]
  public RenderFragment ChildContent { get; set; }
  [Parameter]
  public Domain.Client Client { get; set; }
  [Parameter]
  public string Text { get; set; }

  private async Task UpdatePopupVisible(MouseEventArgs e)
  {
      PopupVisible = !PopupVisible;
  }

  private async Task SelectUser()
  {
      
  }

}