﻿<button class="btn btn-primary" @onclick="UpdatePopupVisible">
    Update heading
</button>
<div class="target-container" @onclick="@(() => PopupVisible = true)"></div>



@code {
  bool PopupVisible { get; set; } = false;

  private async Task UpdatePopupVisible(MouseEventArgs e)
  {
      PopupVisible = true;
    }
}