﻿<div class="todo">
    <input type="checkbox" @bind="@Done" />
    <span class="@textClass">@Text</span>
</div>


@code{
  string _text;
  [Parameter]
  public string Text { get { return _text + Done.ToString(); } set { _text = value; } }
  [Parameter]
  public bool Done { get; set; } = false;
  string textClass => Done ? "done" : null;

}