﻿@page "/addClient"
@using Domain
@using BlazorApp2.Data
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@*@inject CompanyService objCompService*@
@inject ObjectService<Client> objCompService
<h1>
    Add Article
</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind-value="@client.Name" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => CreateClient()">Save</button>
                <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code {

  Client client = new Client();

  protected async Task CreateClient()
  {
      objCompService.Create(client);
      //await Task.Run(() => objCompService.Create(company));
      navigationManager.NavigateTo("/ListClient");
  }

  void cancel()
  {
      navigationManager.NavigateTo("/ListClient");
  }
}