﻿@page "/DeleteClient/{ID}"
@using Domain
@using BlazorApp2.Data
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject ObjectService<Client> objCompService
<h1>
    Delete Article "@client.Name ?
</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <button type="button" class="btn btn-danger" @onclick="() => Delete()">Delete</button>
                <button type="button" class="btn btn-primary" @onclick="() => cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code {
  [Parameter]
  public string ID { get; set; }

  Client client = new Client();

  protected override async Task OnInitializedAsync()
  {
      client = await Task.FromResult(objCompService.GetById(ID));
  }

  protected async Task Delete()
  {
      objCompService.Delete(client);
      navigationManager.NavigateTo("/ListClient");
  }

  void cancel()
  {
      navigationManager.NavigateTo("/ListClient");
  }
}