﻿@page "/EditClient/{ID}"
@using Domain
@using BlazorApp2.Data
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject ObjectService<Client> objCompService


<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind-value="@client.Name" />
            </div>
            @*//TODO add company picture*@
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => Update()">Save</button>
                <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code  {

  [Parameter]
  public string ID { get; set; }

  Client client = new Client();

  protected override async Task OnInitializedAsync()
  {
      client = await objCompService.GetById(ID);
  }

  protected async Task Update()
  {
      string answer = await objCompService.Update(client);
      navigationManager.NavigateTo("/ListClient");
  }

  void cancel()
  {
      navigationManager.NavigateTo("/ListClient");
  }
}
