﻿@page "/ListClient"
@using Microsoft.Extensions.Logging
@using Domain
@using Infrastructure
@using BlazorApp2.Data
@using System.IO

@inject ObjectService<Client> objCompService

        <BSForm Model="client" OnSubmit="@CreateClient">
            <BSFormGroup>
                <BSLabel For="exampleInputEmail1">Имя пользователя</BSLabel>
                <BSInput Id="exampleInputEmail1" InputType="InputType.Text" PlaceHolder="" @bind-Value="client.Name"> </BSInput>
            </BSFormGroup>    
            
            <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Добавить</BSButton>

        </BSForm>


@if (listClients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Имя компании</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listClients)
            {
                <tr>
                    <td>
                        <a class="nav-link" href="/ClientPage/@item.Id">
                            @item.Name
                        </a>
                    </td>
                    <td>
                        <a class="nav-link" href="/EditClient/@item.Id">
                            <span class="oi oi-pencil" aria-hidden="true"></span>Edit
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" @onclick="() => Delete(item)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" href='/addClient'>Add</a>
    </div>
}

@code {

    List<Client> listClients = new List<Client>();

    protected override async Task OnInitializedAsync()
    {

        listClients = await objCompService.GetListObjects();
    }


    Client client = new Client();

    protected async Task CreateClient()
    {
        await objCompService.Create(client);
        listClients = await objCompService.GetListObjects();
        client = new Client();
    }

    protected async Task Delete(Client item)
    {
        await objCompService.Delete(item);
        listClients = await objCompService.GetListObjects();
    }

}
