﻿@using BlazorApp2.Data
@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss
@inject IJSRuntime JSRuntime
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@code{
    protected override async Task OnInitializedAsync()
    {
    }
}