﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ДЗ по БД</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ListCompany">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Компании
            </NavLink>
        </li>        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ListProduct">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Продукты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ListClient">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Клиенты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ListArticle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Статьи
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ListRole">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Роли
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ListOrder">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Заказы
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
