﻿@page "/ListArticle"
@using Microsoft.Extensions.Logging
@using Domain
@using Infrastructure
@using BlazorApp2.Data
@using System.IO
@using System.ComponentModel.DataAnnotations;

@inject ObjectService<Article> ArticleService
@inject ObjectService<Company> CompanyService
@inject ObjectService<Client> ClientService


<h3>Статьи</h3>
<BSForm Model="article" OnValidSubmit="@CreateArticle">
    <BSFormGroup>
        <BSLabel For="exampleInputEmail1">Наименование статьи</BSLabel>
        <BSInput Id="exampleInputEmail1" InputType="InputType.Text" PlaceHolder="Введите наименование статьи" @bind-Value="article.Name"></BSInput>
    </BSFormGroup>
    <BSFormGroup>
        <BSLabel For="exampleFormControlSelect1">К какой компании относится</BSLabel>
        <BSBasicInput Id="exampleFormControlSelect1" InputType="InputType.Select" Value="string.Empty">
            @foreach (var item in listCompany)
            {
                <option>
                    <span class="dropdown-item" href="#" @onclick="(() => UpdateArticle( item))">@item.Name</span>
                </option>
            }
        </BSBasicInput>
    </BSFormGroup>
    <BSFormGroup>
        <BSLabel For="exampleFormControlSelect1">Кто автор?</BSLabel>
        <BSBasicInput Id="exampleFormControlSelect1" InputType="InputType.Select" Value="string.Empty">
            @foreach (var item in listClients)
            {
                <option>
                    <span class="dropdown-item" href="#" @onclick="(() => UpdateArticle( item))">@item.Name</span>
                </option>
            }
        </BSBasicInput>
    </BSFormGroup>
    <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Добавить</BSButton>
</BSForm>

<table class="table">
    <thead>
        <tr>
            <th>Имя компании</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listCompanys)
        {
            <tr>
                <td>
                    <a class="nav-link" href="MainCompany/@item.Id">
                        @item.Name
                    </a>
                </td>
                <td>
                    <a class="nav-link" href="/EditCompany/@item.Id">
                        <span class="oi oi-pencil" aria-hidden="true"></span>Edit
                    </a>
                </td>
                <td>

                    <button type="button" class="btn btn-danger" @onclick="() => Delete(item)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {

    List<Article> listCompanys = new List<Article>();
    List<Company> listCompany = new List<Company>();
    List<Client> listClients = new List<Client>();
    Article article = new Article();

    protected override async Task OnInitializedAsync()
    {

        listCompanys = await ArticleService.GetListObjects();
        listCompany = await CompanyService.GetListObjects();
        listClients = await ClientService.GetListObjects();

    }


    protected async Task CreateArticle()
    {
        await ArticleService.Create(article);
        listCompanys = await ArticleService.GetListObjects();
    }

    async Task Delete(Article item)
    {
        await ArticleService.Delete(item);
        listCompanys = await ArticleService.GetListObjects();
    }
    void UpdateArticle(Company company)
    {
        article.ParentCompany = company;
    }
    void UpdateArticle(Client client)
    {
        article.Author = client;
    }
}
