﻿@page  "/signup"
@using Domain
@using BlazorApp2.Data
@using BlazorApp2.Services
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject IUserService userService

<EditForm Model="@user" OnValidSubmit="@RegisterUser">
    <div>
        <br /><br /><br /><br /><br />
    </div>
    <div>
        <h3 style="font-weight:bold; color:purple">Book Shop Login</h3>
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <input class="form-control col-12" @bind="user.Email" placeholder="email address" />
    </div>
    <br />
    <div class="col-12 row">
        <input type="password" class="form-control col-12" @bind="user.Password" placeholder="password" />
    </div>
    <br />
    @*<div class="col-12 row">
        <input type="password" class="form-control col-12" @bind="user.ConfirmPassword" placeholder="confirm password" />
    </div>
    <br />*@
    <div class="col-12 row">
        <span class="col-12"></span>
        <input type="submit" class="form-control col-6 btn btn-primary" value="Sign up" />
        <a href="/" class="col-6">Already an user?</a>
    </div>
    <br />
    <div class="col-12 row" style="text-align:left; font-weight:bold">
        <span class="col-12">@LoginMesssage</span>
    </div>
</EditForm>

@code {

  private Client user;
  public string LoginMesssage { get; set; }

  protected override Task OnInitializedAsync()
  {
      user = new Client();
      return base.OnInitializedAsync();
  }

  private async Task<bool> RegisterUser()
  {
      //assume that user is valid
      //user.Source = "APPC";
      var returnedUser = await userService.RegisterUserAsync(user);

      if (returnedUser.Email != null)
      {
          ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(returnedUser);
          NavigationManager.NavigateTo("/");
      }
      else
      {
          LoginMesssage = "Invalid username or password";
      }

      return await Task.FromResult(true);
  }

}
