﻿@page "/ListProduct"
@using Microsoft.Extensions.Logging
@using Domain
@using Infrastructure
@using BlazorApp2.Data
@using System.IO
@inject IJSRuntime jsRunTime

@inject ObjectService<Product> objCompService
@inject ObjectService<Company> CompanyService

        <BSForm Model="prod" OnSubmit="@CreateProduct">
            <BSFormGroup>
                <BSLabel For="exampleInputEmail1">Наименование продукта</BSLabel>
                <BSInput Id="exampleInputEmail1" InputType="InputType.Text" PlaceHolder="Введите наименование продукта" @bind-Value="prod.Name"> </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel For="exampleFormControlSelect1">К какой компании относится</BSLabel>
                <BSBasicInput Id="exampleFormControlSelect1" InputType="InputType.Select" @bind-Value="@SelectedCompanyName" >
                    @foreach (var item in listCompany)
                    {
                        <option>
                           @item.Name
                        </option>
                    }
                </BSBasicInput>
            </BSFormGroup>

            <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Добавить</BSButton>
        </BSForm>

@if (listProduct == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Наименование продукта</th>
                <th>Компания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listProduct)
            {
                <tr>
                    <td>
                        <a class="nav-link" href="/ClientPage/@item.Id">
                            @item.Name
                        </a>
                    </td>
                    <td>
                        @item.CreateCompany?.Name
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" @onclick="() => Delete(item)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

        List<Product> listProduct = new List<Product>();
        List<Company> listCompany = new List<Company>();

        string SelectedCompanyName = "";

    protected override async Task OnInitializedAsync()
    {

        listProduct = await objCompService.GetListObjects();
        listCompany = await CompanyService.GetListObjects();
    }


    Product prod = new Product();

    protected async Task CreateProduct()
    {
        prod.CreateCompany = listCompany.Where(x => x.Name == SelectedCompanyName).FirstOrDefault();
        await objCompService.Create(prod);
        listProduct = await objCompService.GetListObjects();
        prod = new Product();
    }

    protected async Task Delete(Product item)
    {
        await objCompService.Delete(item);
        listProduct = await objCompService.GetListObjects();
    }
    void UpdateCompany(Company company)
    {
        prod.CreateCompany = company;
    }

}